# -*- mode: gitignore; -*-
Exercise-1/Assets/pcdOut

catkin_ws/build
catkin_ws/devel
catkin_ws/src/scripts/Assets/pcdOut

catkin_ws3/build
catkin_ws3/devel
catkin_ws3/src/scripts/Assets/pcdOut

[Jj]unk/

.DS_Store

*.pyc
.ipynb_checkpoints/

/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

\#*
/elpa
/elpa-*
site-lisp/package/

[Tt]emp/
[Tt]mp/
[Bb]ackup

